@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&display=swap");
@import url(https://db.onlinewebfonts.com/c/5ebc09361aef4dbfa14ad8492b8cca11?family=SangBleu+Sunrise);

:root {
  --primary-color: #18212d;
  --secondary-color: #aa6aaa;
  --tertiary-color: #fff;
  --btn-color: #eae4ea;
  --text-color: #717175;
}
body,
html {
  overflow-x: hidden;
}
body {
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "SangBleu Sunrise";
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1530px;
}
.active {
  color: var(--secondary-color) !important;
}
.btn-primary {
  padding: 16px 14px;
  background: var(--btn-color);
  border: none;
  color: var(--primary-color);
}
.btn-primary:hover {
  background-color: #d5d3d5;
}
.title1 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
}
.title2 {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
}
.title3 {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 400;
  line-height: 27px;
}
.title4 {
  font-size: 14px;
  color: var(--secondary-color);
}
.secondary-btn {
  padding: 20px 24px;
  border-radius: 50px;
  background: var(--secondary-color);
  color: var(--tertiary-color);
  margin-bottom: 36px;
  transition: all 0.4s linear;
}
.secondary-btn:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
/* Nav-bar Section */
.hdr-sec {
  padding: 15px 0;
  position: relative;
}
.nav-bar-container {
  max-width: 1428px;
}
.nav-logo {
  position: absolute;
  top: -14px;
  left: 67px;
}
.navbar-brand {
  max-width: 224px;
}
.navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-item {
  margin-right: 45px;
}
.nav-link {
  padding: 0 !important;
  transition: all 0.4s ease;
  color: var(--primary-color);
}
.nav-link:hover {
  color: var(--secondary-color);
}
.navbar-nav > li.nav-item:last-child {
  margin-right: 0;
}
.nav-btn {
  margin-left: 33px;
}
.offcanvas {
  flex-direction: row;
  align-items: center;
}
.offcanvas-header {
  margin-right: auto;
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.5);
}
.offcanvas-header:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.offcanvas-header:hover > i {
  transform: scale(1.1);
}
/* Banner Section */
.banner-sec {
  padding: 0 50px;
}
.banner-wrpr {
  background: url(../Assets/banner-bg.png) no-repeat center/cover;
  border-radius: 20px;
  text-align: center;
  padding: 100px 0 0;
  background-attachment: fixed;
}
.banner-wrpr .title1 {
  max-width: 984px;
  margin: 0 auto;
}
.banner-wrpr p {
  max-width: 817px;
  color: var(--text-color);
  line-height: 24px;
  margin: 22px auto 0;
  margin-block: 22px 30px;
}
.banner-vdo {
  max-width: 1140px;
  margin: 0 auto;
  border: 1px solid var(--tertiary-color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 15px 15px 0;
}
.banner-vdo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* About Section */
.about-sec {
  padding: 81px 0 61px;
}
.about-container {
  max-width: 1105px;
}
.about-row {
  align-items: center;
}
.about-hdr {
  margin-top: 47px;
}
.about-left-img {
  max-width: 475px;
  margin-top: 82px;
}
.about-left-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 14px;
}
.about-right-img {
  max-width: 440px;
}
.about-right-img > img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: contain;
}
.about-desc {
  max-width: 499px;
  color: var(--text-color);
  line-height: 24px;
  margin-block: 72px 77px;
}
.about-btn {
  margin-bottom: 55px;
}
.about-btn > .btn-secondary {
  padding: 15px 41px;
  border-radius: 100px;
  transition: all 0.4s linear;
  background-color: var(--secondary-color);
}
.about-btn > .btn-secondary:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}
/* Build Section */
.build-sec {
  padding: 100px 0;
  background: linear-gradient(
    to right,
    rgba(207, 206, 198, 0.32) 0%,
    rgba(207, 206, 198, 0.2784) 37%,
    rgba(207, 206, 198, 0.1632) 59%,
    rgba(207, 206, 198, 0.1664) 100%
  );
}
.build-container {
  max-width: 1530px;
}
.build-hdr {
  max-width: 834px;
  text-align: center;
  margin: 0 auto 47px;
}
.card {
  height: 356px;
  max-width: 360px;
  border-radius: 10px;
  border: none !important;
  margin: 0 auto 20px;
  transition: all 0.6s linear;
}
.card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-grey {
  padding: 57px 28px 30px;
  background-color: var(--btn-color);
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.card-grey > p {
  color: var(--text-color);
  line-height: 24px;
  margin-block: 30px 90px;
}
.card-grey > .see-more > a {
  color: var(--primary-color);
}

.card-pink {
  padding: 57px 28px 30px;
  background-color: var(--secondary-color);
}

.card-pink > .title3 {
  color: var(--tertiary-color);
}
.card-pink > p {
  color: var(--tertiary-color);
  line-height: 24px;
  margin-block: 30px 90px;
}
.card-pink > .see-more > a {
  color: var(--tertiary-color);
}
/* Tesimonial Section */
.testi-sec {
  padding: 100px 0 87px;
}
.testihdr {
  margin-bottom: 37px;
}
.hdr-top {
  font-size: 14px;
  color: var(--primary-color);
  padding: 10px 18px;
  border: 1px solid #efeeed;
  border-radius: 50px;
}
.testihdr > .title2 {
  margin-top: 25px;
}
.testimonial-container {
  max-width: 1107px;
  margin: 0 auto;
}

.testimonial-items {
  overflow: hidden;
}

.testimonial-img-slick {
  max-width: 578.7px;
  margin: 0 auto;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: scale(0.6);
  filter: grayscale(1);
  transition: all 0.3s linear;
  opacity: 0.4;
}

.testimonial-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial-items.slick-center .testimonial-img {
  transform: scale(1) !important;
  filter: grayscale(0) !important;
  opacity: 1 !important;
}

.testimonial-items.sl-next .testimonial-img,
.testimonial-items.sl-prev .testimonial-img {
  transform: scale(0.8) !important;
  filter: grayscale(1);
  opacity: 1 !important;
}

.testimonial-cntn-slider {
  max-width: 808px;
  margin: 0 auto;
}

.testimonial-cntn-items {
  text-align: center;
}
.testimonial-cntn-items > p {
  color: var(--text-color);
  line-height: 27px;
}
.testi-cntn-btm > p {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

.slick-prev:before,
.slick-next:before {
  content: none !important;
}

.custom-arrow {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #a06cc4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.slick-prev {
  background-color: var(--tertiary-color);
}
.slick-prev path {
  stroke: #c4c4c4 !important;
}
.custom-arrow svg path {
  stroke: #fff;
}

.custom-arrow:hover {
  box-shadow: 0 0 14px 12px #c4c4c4;
}
.slick-animating .custom-arrow svg path {
  stroke: #fff !important;
}

.slick-next:hover,
.slick-next:focus {
  background: #a06cc4;
}

.slick-prev {
  left: -100px;
}

.slick-next {
  right: -100px;
}
/* Get in touch Section */
.touch-box {
  max-width: 945px;
  margin: 0 auto;
  padding: 35px 50px 35px 35px;
  border-radius: 6px;
  background: #8a737d;
  margin-bottom: -65px;
  position: relative;
  z-index: 2;
}
.touch-box > .title2 {
  margin-bottom: 0 !important;
  line-height: 50px;
  text-transform: capitalize;
}
.touch-img {
  max-width: 103px;
  margin-inline: 47px 17.48px;
}
.touch-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.touch-box > .btn-primary {
  padding: 16px 35px;
  background-color: var(--tertiary-color);
  transition: all 0.4s ease;
}
.touch-box > .btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}
/* Footer Section */
.ftr-sec {
  background-color: var(--primary-color);
  padding-block: 123px 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.ftr-top {
  padding-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}
.ftr-container {
  max-width: 1428px;
}
.ftr-logo {
  max-width: 195.12px;
}
.ftr-logo > a {
  width: 100%;
}
.ftr-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ftr-list1 {
  max-width: 105px;
  margin: 0 auto;
}
.ftr-list2 {
  max-width: 166px;
  margin: 0 auto;
}
.ftr-hdr {
  font-family: "SangBleu Sunrise";
  font-size: 18px;
  color: var(--tertiary-color);
  line-height: 22.41px;
  margin-bottom: 48px;
  position: relative;
}
.ftr-hdr::after {
  content: "";
  position: absolute;
  background-color: var(--tertiary-color);
  height: 1px;
  width: 52px;
  top: 180%;
  left: 0;
}
.ftr-list {
  margin-bottom: 0;
}
.ftr-list > li {
  margin-bottom: 24px;
}
.ftr-list > li:last-child {
  margin-bottom: 0;
}
.ftr-links {
  font-size: 16px;
  line-height: 14px;
  color: var(--tertiary-color);
  position: relative;
}
.ftr-links::after {
  content: "";
  position: absolute;
  background-color: var(--tertiary-color);
  left: 0;
  top: 140%;
  width: 0;
  height: 1px;
  transition: all 0.4s ease-in;
}
.ftr-links:hover::after {
  width: 100%;
}
.ftr-right {
  max-width: 345px;
  margin-left: auto;
}
.ftr-form input[type="email"] {
  width: 293px;
  background-color: transparent;
  border-radius: 50px;
  outline: 1px solid #eef0f8;
  padding: 12px 14px;
}
.ftr-form input[type="email"]::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--tertiary-color);
}
.submit-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 6px;
  transition: all 0.4s ease;
}
.submit-btn:hover {
  background-color: var(--btn-color);
}
.submit-btn svg {
  transform: translateX(-25%);
}
.submit-btn svg path {
  transition: all 0.4s ease;
}
.submit-btn:hover svg path {
  fill: var(--secondary-color);
}
.ftr-form input[type="submit"] {
  background: none !important;
  border: none !important;
}
.scl-list {
  margin-top: 25px;
}
.scl-list > li {
  margin-right: 20px;
}
.scl-links {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--btn-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
}
.scl-links:hover {
  background: var(--secondary-color);
  transform: scale(1.1);
}
.scl-links path {
  transition: all 0.4s ease-in;
}
.scl-links:hover path {
  fill: var(--tertiary-color);
}
.copyright {
  color: var(--tertiary-color);
  font-size: 14px;
  line-height: 25px;
  margin-top: 17px;
}
.copyright > a {
  color: var(--tertiary-color);
}
@media screen and (max-width: 1400px) {
  /* Build Section */
  .card {
    height: 322px;
  }
  .card-grey,
  .card-pink {
    padding: 43px 23px 21px;
  }
  .card-grey > p,
  .card-pink > p {
    margin-block: 18px 50px;
  }
}
@media screen and (max-width: 1200px) {
  .title3 {
    font-size: 25px;
    line-height: 22px;
  }
  /* Navbar Sectiob */
  .nav-logo {
    left: 26px;
  }
  /* Banner Section */
  .banner-sec {
    padding: 0 15px;
  }
  /* Build Section */
  .card {
    height: 286px;
  }
  .card-grey > p,
  .card-pink > p {
    margin-block: 16px 30px;
  }
  .card-grey,
  .card-pink {
    padding: 30px 19px 21px;
  }
}
@media screen and (max-width: 992px) {
  /* Navbar Section */
  .offcanvas {
    flex-direction: column;
  }
  .navbar-nav,
  .nav-btn {
    margin-left: 0 !important;
    text-align: center;
  }
  .navbar-nav {
    margin-top: 60px;
  }
  .nav-item {
    margin: 0 0 20px;
  }
  /* Build Section */
  .build-sec {
    padding: 70px 0;
  }
  /* Testimonial Section */
  .testi-sec {
    padding: 70px 0 60px;
  }
  .hdr-top {
    font-size: 12px;
    color: var(--primary-color);
    padding: 6px 12px;
    border: 1px solid #efeeed;
    border-radius: 47px;
  }
  /* Get in Touch Section */
  .touch-box {
    max-width: 945px;
    padding: 28px 35px 28px 28px;
  }
  .touch-box > .title2 {
    font-size: 35px;
  }
  /* Footer Section */

  .ftr-sec {
    padding-block: 90px 14px;
  }

  .ftr-hdr {
    font-size: 17px;
    margin-bottom: 38px;
  }
  .ftr-hdr::after {
    top: 170%;
  }
  .ftr-list > li {
    margin-bottom: 13px;
  }
  .ftr-links {
    font-size: 15px;
  }
  .ftr-form input[type="email"] {
    width: 180px;
  }
  .submit-btn {
    width: 40px;
    height: 40px;
  }
  .submit-btn svg {
    width: 24px;
    height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .title1 {
    font-size: 50px;
  }
  .title2 {
    font-size: 40px;
  }
  .title3 {
    font-size: 22px;
    line-height: 16px;
  }
  .title4 {
    font-size: 13px;
  }
  .secondary-btn {
    padding: 13px 19px;
    font-size: 14px;
  }
  /* Banner Section */

  .banner-wrpr p {
    font-size: 14px;
  }
  /* About Section */
  .about-sec {
    padding: 80px 0 50px;
  }
  .about-desc {
    margin-block: 45px 40px;
    font-size: 14px;
    line-height: 22px;
  }
  .about-btn > .btn-secondary {
    font-size: 14px;
    padding: 12px 34px;
  }
  /* Build Section */
  .build-sec {
    padding: 50px 0;
  }
  .card {
    height: 250px;
  }
  .card-grey > p,
  .card-pink > p {
    font-size: 14px;
  }
  .card-grey > .see-more > a,
  .card-pink > .see-more > a {
    font-size: 14px;
  }
  /* Testimonial Section */
  .testi-sec {
    padding: 50px 0;
  }
  .hdr-top {
    font-size: 11px;
    padding: 5px 10px;
  }
  .testihdr > .title2 {
    margin-top: 20px;
  }
  .testimonial-cntn-items > p {
    font-size: 14px;
    line-height: 22px;
  }
  /* Get in Touch Section */
  .touch-box {
    padding: 20px;
  }
  .touch-box > .title2 {
    font-size: 26px;
  }
  .touch-img {
    margin-inline: 16px 8px;
  }
  .touch-box > .btn-primary {
    padding: 12px 21px;
    font-size: 14px;
  }
  /* Footer Section */
  .ftr-sec {
    padding: 110px 0 14px;
  }
  .ftr-top {
    padding-bottom: 30px;
  }
  .ftr-logo {
    margin: 0 auto 30px;
  }
  .ftr-list1,
  .ftr-list2 {
    margin: 0 auto 30px;
  }
  .ftr-hdr {
    text-align: center;
  }
  .ftr-list1 > .ftr-hdr::after {
    left: 8px;
  }
  .ftr-list2 > .ftr-hdr::after {
    left: 17px;
  }
  .ftr-right > .ftr-hdr::after {
    left: 70px;
  }
  .ftr-list {
    text-align: center;
  }
  .ftr-right {
    margin: 0 auto;
  }
  .ftr-form {
    justify-content: center;
  }
  .ftr-form input[type="email"] {
    width: 250px;
  }
  .scl-list {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .title1 {
    font-size: 30px;
    line-height: 40px;
  }
  .title2 {
    font-size: 24px;
    line-height: 35px;
  }
  .title3 {
    font-size: 20px;
    line-height: 16px;
  }

  .title4 {
    font-size: 11px;
  }
  .secondary-btn {
    font-size: 12px;
  }
  /* Navbar Section */
  .nav-logo {
    position: absolute;
    top: 0px;
  }
  .navbar-brand {
    max-width: 180px;
  }
  /* Banner Section */
  .banner-wrpr {
    padding: 85px 0 0;
  }
  .banner-wrpr p {
    font-size: 12px;
    line-height: 22px;
  }

  /* About Section */
  .about-sec {
    padding: 30px 0 50px;
  }
  .about-hdr {
    margin-top: 18px;
  }
  .about-left-img {
    max-width: 475px;
    margin: 30px auto 30px;
  }
  .about-right-img {
    margin: 0 auto;
  }
  .about-desc {
    max-width: 100%;
    order: 1;
    font-size: 12px;
    line-height: 18px;
  }
  .about-desc {
    margin-block: 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .about-btn {
    margin-bottom: 30px;
  }
  .about-btn > .btn-secondary {
    padding: 10px 28px;
    font-size: 12px;
  }
  /* Build Section */
  .build-sec {
    padding: 40px 0;
  }
  .card {
    height: 226px;
    margin: 0 auto 20px;
  }

  .card-grey > p,
  .card-pink > p {
    font-size: 12px;
    margin-block: 15px 25px;
    line-height: 22px;
  }
  /* Testimonial Section */
  .testi-sec {
    padding: 40px 0 20px;
  }
  .testihdr {
    margin-bottom: 24px;
  }
  .hdr-top {
    font-size: 10px;
    padding: 5px 10px;
  }
  .testihdr > .title2 {
    margin-top: 18px;
  }
  .testimonial-cntn-items > p {
    font-size: 12px;
    line-height: 19px;
  }
  /* Get in Touch Section */
  .touch-box {
    padding: 15px;
  }
  .touch-box > .title2 {
    font-size: 24px;
  }

  .touch-img {
    margin: 0 auto 15px;
  }
  /* Footer Section */
  .ftr-hdr {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .ftr-hdr::after {
    top: 150%;
  }
  .ftr-list > li {
    margin-bottom: 10px;
  }
  .ftr-links {
    font-size: 14px;
  }
  .ftr-form {
    margin-top: 30px;
  }
  .copyright {
    font-size: 12px;
    margin-top: 17px;
  }
}
@media screen and (max-width: 360px) {
  .ftr-right > .ftr-hdr::after {
    left: 51px;
  }
}
